.App{
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.formSearcher{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.containerMovies{
  display: flex;
  justify-content: center;
  width:100%
}
.gridMovies{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 32px;
  list-style: none;
  margin:0;
  padding:0;
  width: 100%;
}
.mainContainer{
  display: flex;
  width: 100%;
  justify-content: center;
 
}
.movie{
  display: flex;
  flex-direction: column;

  text-align: center;
  width: 100%;
}
.movie h2 {
  height: 32px;
}
.movie img{
  border-radius: 8px;
  margin-top: 20px;
  height: 335px;
}


:root{
  color-scheme: light dark;
}

